@import "tailwindcss";

/* =========================
   GT Alpina
   ========================= */

@font-face {
  font-family: "GTAlpina";
  src: url("./assets/fonts/GTAlpina-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GTAlpina";
  src: url("./assets/fonts/GTAlpina-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GTAlpina";
  src: url("./assets/fonts/GTAlpina-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}


/* =========================
   TT Commons
   ========================= */

@font-face {
  font-family: "TTCommons";
  src: url("./assets/fonts/TT Commons-Pro-Normal.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTCommons";
  src: url("./assets/fonts/TT Commons-Pro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTCommons";
  src: url("./assets/fonts/TT Commons-Pro-DemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "TTCommons", sans-serif;
}